<div class="shared-header">
  <a href="/">Home</a>
  <% if(user) { %>
    <span class="shared-header">Welcome, <%= user.username %></span>
    <form action="/logout">
      <button class="btn btn-primary shared-header">Logout</button>
    </form>
  <%} else { %>
    <a href="/signin" title="">Log In</a>
    <a href="/register" title="">Register</a>
  <% }%>
</div>
