<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header id="header" class="">
    <h1>I've Got Good News</h1>

  </header><!-- /header -->


  <div>
     <select name="category">
        <option value="" selected>View All</option>
        <option value="general">General </option>
        <option value="technology">Technology</option>
        <option value="sport">Sports</option>
        <option value="business">Business</option>
        <option value="entertainment">Entertainment</option>
        <option value="gaming">Gaming</option>
        <option value="music">Music</option>
        <option value="science-and-nature">Science and Nature</option>
      </select>
      <button>Search!</button>
  </div>

  <div class="partial"></div>

  <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="client.js"></script>
</body>
</html>
