<!DOCTYPE html>
<html>
<head>
  <title>My Favorites</title>
  <% include ../shared/head %>
</head>
<body>
  <div class="landing">
    <% include ../shared/header %>
    <div class="favs">
      <h1>My Newspaper</h1>
      <div class="favorites">
       <h3><%# favorites.length %></h3>

       <% for (let i = 0; i < favoritesExtended.length; i++) { %>
          <div class="favorite">
            <img src="<%= favoritesExtended[i].logo %>" alt=""/>
            <input type="hidden" name="articlesApiUrl" value="<%= favoritesExtended[i].articlesApiUrl %>">
            <a href="<%= favoritesExtended[i].articlesUrl %>">View more articles</a>
            <div class="articles"></div>
            <button class="delete btn btn-primary" data-id="<%= favoritesExtended[i]._id %>">Remove</button>
          </div>
        <% }; %>
      </div>
    </div>
  </div>
</body>
</html>
