<!DOCTYPE html>
<html>
<head>
  <title>My Favorites</title>
  <% include ../shared/head %>

</head>
<body>
  <h1>favorites</h1>
  <div class="favorites">
   <h3><%# favorites.length %> Favorites</h3>

          <% for (let i = 0; i < favorites.length; i++) { %>
            <div class="">
              <img src="<%= favorites[i].logo %>" alt=""/>
              <h4><%= favorites[i].name %></h4>
              <button class="delete btn btn-primary" data-id="<%= favorites[i]._id %>">Remove</button>
            </div>
          <% }; %>

  </div>

</body>
</html>
